<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated circuitoV3 -->
      <package
            uri="http://www.example.org/circuitoV3"
            class="circuitoV3.CircuitoV3Package"
            genModel="model/circuitoV3.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated circuitoV3 -->
      <parser
            type="circuitov3"
            class="circuitoV3.util.CircuitoV3ResourceFactoryImpl"/>
   </extension>

</plugin>
